.main {
  width: 100%;
  max-width: 1920px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 40px;
  grid-template-areas:
    "header header"
    "ingredients constructor"
    "loading loading";
}

.loading {
  padding-top: 40px;
  grid-area: loading;
  justify-self: center;
}

.dotFlashing {
  display: inline-block;
  margin-left: 20px;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #8585ad;
  color: #8585ad;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}

.dotFlashing::before,
.dotFlashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dotFlashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #8585ad;
  color: #8585ad;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dotFlashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #8585ad;
  color: #8585ad;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #8585ad;
  }

  50%,
  100% {
    background-color: #ebe6ff;
  }
}
