.container {
  padding-top: 80px;
  margin: 0 auto;
  grid-area: main;
  width: 480px;
}

.form {
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.recallPassword {
  text-align: center;
}

.loginLink {
  text-decoration: none;
  color: #4c4cff;
}

.loginLink:hover {
  color: #fff;
  transition: color 0.3s ease-in;
}