.main {
  grid-area: constructor;
  margin-top: 60px;
  padding-right: 8px;
  padding-left: 16px;
  max-width: 600px;
  justify-self: start;
}

.stuff {
  overflow-y: scroll;
  max-height: 37vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.stuff::-webkit-scrollbar {
  width: 8px;
}

.stuff::-webkit-scrollbar-track {
  background: #2f2f37;
}

.stuff::-webkit-scrollbar-thumb {
  background: #8585ad;
}

.orderContainer {
  padding-top: 40px;
  padding-right: 8px;
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-items: flex-end;
  gap: 40px;
}

.priceContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.dragContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
}