.main {
  width: 100%;
  max-width: 1920px;
  margin-top: 40px;
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "loading loading"
    "ingredient ingredient"
    "profile profile"
    "feed-details feed-details";
}

.modal {
  padding-top: 120px;
  grid-area: ingredient;
}
