.container {
  padding-top: 80px;
}

.userData {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  grid-area: userData;

}

.paragraph {
  grid-area: paragraph;
  opacity: 0.4;
  padding-top: 34px;
  align-self: flex-end;
}

.buttonsContainer {
  grid-area: buttonsContainer;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.container input {
  color: #8585ad;
}
