
.main {
  grid-area: userData;
  width: 100%;
  max-width: 844px;
}

.ordersContainer {
  overflow-y: scroll;
  max-height: 73.5vh;
  display: grid;
  gap: 16px;
}

.ordersContainer::-webkit-scrollbar {
  width: 8px;
}

.ordersContainer::-webkit-scrollbar-track {
  background: #2f2f37;
}

.ordersContainer::-webkit-scrollbar-thumb {
  background: #8585ad;
}